<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ifast.dao.ActiveDao">

    <select id="sheng" resultType="String" >
        select distinct province FROM  app_active t order by t.province asc
    </select>
    <select id="shi" resultType="String" >
        select distinct city FROM  app_active t order by t.city asc
    </select>
    <select id="qu" resultType="String" >
        select distinct county FROM  app_active t order by t.county asc
    </select>

</mapper>