<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ifast.api.dao.ApiActiveDao">
    <resultMap id="active" type="com.ifast.api.pojo.domain.ActiveDO">
        <id property="id" column="id" />
        <result property="city" column="city" />
        <result property="title" column="title" />
        <result property="startTtime" column="startTtime" />
        <result property="endTime" column="endTime" />
        <result property="province" column="province" />
        <result property="county" column="county" />
        <result property="type" column="type" />
        <result property="userTotal" column="userTotal" />
        <result property="longitude" column="longitude" />
        <result property="latitude" column="latitude" />
        <result property="address" column="address" />
        <result property="isJoinIn" column="isJoinIn" />
        <collection property="imgs" javaType="ArrayList" column="id" ofType="com.ifast.api.pojo.domain.ImgDO" select="queryImgs"/>
    </resultMap>

    <select id="queryActive" resultMap="active">
        SELECT
        m.*,x.userTotal,case when ISNULL(ccc.userId ) then  0 ELSE 1 end isJoinIn
        FROM
        (
        SELECT
        case when  t.createUserId = #{createUserId} then 1 else 0 end isCreate ,
        t.id,
        t.city,
        t.title,
        t.startTtime,
        t.endTime,
        t.province,
        t.county,
        t.type,
        t.longitude,
        t.latitude,
        t.address
        FROM
        app_active t
        WHERE
        t.stop = '0'
        ORDER BY    t.startTtime
            ) m
            LEFT JOIN ( SELECT n.activeId, count( 1 ) userTotal FROM app_active_user n GROUP BY n.activeId ) x ON m.id = x.activeId
        LEFT JOIN (select us.activeId,us.userId from app_active_user us where us.userId = #{createUserId} ) ccc on ccc.activeId = m.id
        WHERE
              1=1
        <if test="title!=null and title !=''">
            and m.title LIKE CONCAT( '%',#{title}, '%' )
        </if>
            <if test="city!=null and city !=''">
                and  m.city = #{city}
            </if>
            <if test="county!=null and county!=''">
                AND m.county = #{county}
            </if>
            <if test="province !=null and province !=''">
                AND m.province =#{province}
            </if>
        <if test="type!=null and type !=''">
            and  m.type = #{type}
        </if>
        order by (case when ISNULL(ccc.userId ) then  0 ELSE 1 end) desc ,m.isCreate desc , m.startTtime desc
    </select>

    <select id="queryImgs" resultType="com.ifast.api.pojo.domain.ImgDO">
        select p.id, p.url
              from app_image p where p.parentId = #{id}
    </select>

<select id="queryByPage" resultType="com.ifast.api.pojo.domain.ActiveDO">
        SELECT t.*,  COALESCE(a.num,0) FROM app_active  t LEFT JOIN (SELECT COUNT(id) num,activeId FROM app_active_user GROUP BY activeId) a ON a.activeId=t.`id`
</select>

</mapper>