<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ifast.dao.ApiUserDao">
    <resultMap id="userByUnit" type="com.ifast.domain.ApiUserDO">
        <id property="id" column="id" />
        <result property="name" column="name" />
        <result property="position" column="position" />
        <result property="phone" column="phone" />
        <result property="wechat" column="wechat" />
        <result property="qq" column="qq" />
        <result property="email" column="email" />
        <result property="address" column="address" />
        <result property="avatarUrl" column="avatarUrl" />
        <result property="city" column="city" />
        <result property="province" column="province" />
        <result property="country" column="country" />
        <result property="language" column="language" />
        <result property="nickName" column="nickName" />
        <result property="gender" column="gender" />
        <collection property="unitDO" ofType="com.ifast.domain.UnitDO"  >
            <result property="id" column="unitId" />
            <result property="introduction" column="Introduction" />
            <result property="scale" column="scale" />
            <result property="userId" column="userid" />
            <result property="url" column="url" />
            <result property="fixedTel" column="fixedTel" />
            <result property="name" column="unitName" />
            <result property="logo" column="logo" />
        </collection>
    </resultMap>


    <select id="queryById" parameterType="string" resultMap="userByUnit">
   SELECT
  t.`address`,
  t.`id`,
  t.`email`,
  t.`name`,
  t.`phone`,
  t.`avatarUrl`,
  t.`country`,
  t.`gender`,
        t.city,
        t.language,
  t.`nickName`,
  t.`province`,
  t.`position`,
  t.`qq`,
  t.`WeChat`,
  a.`id` AS unitId,
  a.`Introduction`,
  a.`scale`,
  a.`userid`,
  a. `url`,
  a.`fixedTel`,
  a.`name` AS unitName,
        a.logo
    FROM tb_user t LEFT JOIN tb_unit a ON t.`id`=a.`userid`
    <where>
        t.id=#{id}
    </where>
    </select>
    <select id="queryByUserDo" resultMap="userByUnit">
        SELECT
  t.`address`,
  t.`id`,
  t.`email`,
  t.`name`,
  t.`phone`,
  t.`position`,
  t.`qq`,
  t.`WeChat`,
  a.`id` AS unitId,
  a.`Introduction`,
  a.`scale`,
  a.`userid`,
  a.`name` AS unitName
    FROM tb_user t LEFT JOIN tb_unit a ON t.`id`=a.`userid`
        <where>
           <if test="id!=null and id!=''">
               and t.`id`=#{id}
           </if>
            <if test="name!=null and name!=''">
              and  t.`name`=#{name}
            </if>

        </where>
    </select>

    <resultMap id="userByUnit1" type="com.ifast.domain.ApiUserDO">
        <id property="id" column="id" />
        <result property="name" column="name" />
        <result property="position" column="position" />
        <result property="phone" column="phone" />
        <result property="wechat" column="wechat" />
        <result property="qq" column  ="qq" />
        <result property="dName" column="dName" />
        <result property="email" column="email" />
        <result property="address" column="address" />
        <result property="avatarUrl" column="avatarUrl" />
        <result property="city" column="city" />
        <result property="province" column="province" />
        <result property="country" column="country" />
        <result property="language" column="language" />
        <result property="nickName" column="nickName" />
        <result property="gender" column="gender" />
        <result property="attention" column="attention" />
        <result property="longitude" column="longitude" />
        <result property="latitude" column="latitude" />
        <collection property="unitDO" ofType="com.ifast.domain.UnitDO" resultMap="com.ifast.dao.UnitDao.unitResult" />
    </resultMap>
    <select id="queryByIds" parameterType="string" resultMap="userByUnit1">
            SELECT l.name dName,t.*,b.attention FROM tb_user t
            left join tb_unit l on l.userId = t.id
              left join tb_attention b on t.id = b.tid AND b.`mid`=#{id}
                    WHERE EXISTS(
                    SELECT * FROM tb_attention a WHERE a.`tid`=t.`id` AND a.`mid`=#{id}
                    )
            and t.id !=#{id}
            <if test="attention!=null and attention!=''">
                and  b.attention = #{attention}
            </if>
        <if test="name!=null and name !=''">
            and t.name like concat('%',concat(#{name},'%'))
        </if>
                    order by b.attention desc , t.`name` asc
    </select>
</mapper>